*{ /* Se realiza para que las medidas sean standard en todos las pantallas */
    margin: 0px;
    padding: 0px;
    
}

body {
    background-color: grey;
    background: url(img/Birth-by-Sleep-Wallpapers-Kingdom-Hearts-Birth-by-Sleep-.jpg);
}

.cajaheader{
    width: 90%;
    margin: auto;
    background-color: black;
    width: 1000px;
    height: 40px;
}
.logo{
    font-family: cursive;
    color: white;
    font-size: x-large
}

header{
    padding-top: 50px;
    padding-left: 210px;
    padding-right: 210px;
    padding-bottom: 5px;

}
div.cajaheader{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav a {
    color: rgb(187, 187, 187);
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.active {
    color: white;
}

/* Trabajamos con el inicio, debajo del header */
.cajadesplegable{
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/*Aqui empezamos con el desplegable*/

ul, ol{
    list-style: none;
}

.ull li a{
    background-color: black;
    color:white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    
}

.ull li a:hover{
    background-color: #434343; /* Para que al marcar cambie a otro negro */
}

.ull > li{
    float: left;
}

.ull li ul{
    display: none;
    position: absolute;
    
}

.ull li:hover > ul{
    display: block;
}

div.cajadesplegable{
    padding-left: 120px;
    padding-right: 120px;
    width: max-content;
    position: relative;
    z-index: 4;
}
li.obj-desplegable{
    width: 250px;
    height: auto;
}
.formulario{
    width: 1000px;
    height: 225px;
    margin: auto;
}
fieldset{
    width: 997px;
    height: inherit;
}
.formulario2{
    width: 1000px;
    height: 400px;
    margin: auto;
}
/* Footer */
footer{
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Opens Sans";
    color: #fff;
}
.foot h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.foot p{
    max-width: 500px;
    margin: 20px auto;
    line-height: 28px;
    font-size: 14px;
}
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem;
}
.redes li{
    margin: 0 10px;
}
.redes a{
    color: #fff;
    text-decoration: none;
}
.redes a i{
    font-size: 1.1rem;
}
.redes a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: azure;
}

